<div class="modal fade" id="weeklyModal" tabindex="-1" aria-labelledby="weeklyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="weeklyModalLabel">자동차 주간 보험정보</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
      </div>
      <div class="modal-body" id="weeklyModalBody">
        <!-- 여기에 보험정보가 로딩됩니다 -->
      </div>
    </div>
  </div>
</div>
